body {
	background-color: #181818;
	color: white;
}

.cell {
	width: 14vh;
	height: 14vh;
	border: 2px solid;
	box-shadow: 0 0 0 2px;
	font-size: 10vh;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cellContainer {
	display: grid;
	grid-template-columns: repeat(3, auto);
	width: auto;
	margin-top: 5rem;
	margin-bottom: 2rem;
	background-color: #202020;
}

.button {
	border: none;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	font-size: 1rem;
	margin: 4px 2px;
	cursor: pointer;
	transition: 100ms;
	font-weight: bold;
	width: 7rem;
	height: 2rem;
	background-color: #aaaaaa;
	margin-top: 2rem;
	transition: 150ms;
}

.button:hover {
	background-color: #fffefe;
	transition: 150ms;
}

h1 {
	font-size: 8vh;
	text-decoration: underline;
	font-weight: bold;
	margin-top: 1rem;
}

h3 {
	font-size: 2.5rem;
}
